{% extends '@OwpCore/content.html.twig' %}

{% block title %}{{ news.title }}{% endblock %}

{% block content_header %}
    <img class="first-slide opacity-20" src="{{ asset('images/default.jpg') | imagine_filter('carousel_header') }}" alt="First slide">
    <div class="container">
        <div class="carousel-caption text-left content-header col-12 col-lg-10 offset-lg-1">
            <h1>{{ news.title }}</h1>
            <div class="text-white font-italic">
                Publié le {{ period(news.createAt) }}
                <br/>Modifié le {{ period(news.updateAt) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block content_admin_actions %}
    {% include '@OwpNews/Utils/admin_action.html.twig' %}
{% endblock %}

{% block content_body %}
    <div class="row my-4 mx-0 mx-lg-4">
        <div class="col-12 col-lg-10 offset-lg-1">
            {{ _self.breadcrumb([{'label':news.title, 'url':'#', 'class': 'active'}])}}
        </div>

        <div class="col-12 col-lg-10 offset-lg-1">
            {{ news.content|raw }}
        </div>

        {% include '@OwpCore/Comment/comment.html.twig' with {id: 'news:' ~ news.id} %}
    </div>
{% endblock %}
